<!doctype html>
  <head>
    <title> TheRecommender </title>
  </head>
   <body>

      <form action = "http://localhost:4000/result" method = "POST">
        <select name = "cuisine">
            <option value="American">American</option>
            <option value="Argentinian">Argentinian</option>
            <option value="Asian">Asian</option>
            <option value="Austrian">Austrian</option>
            <option value="Barbecue">Barbecue</option>
            <option value="Belgian">Belgian</option>
            <option value="Brazilian">Brazilian</option>
            <option value="Burmese">Burmese</option>
            <option value="Cajun">Cajun</option>
            <option value="Caribbean">Caribbean</option>
            <option value="Central Asian">Central Asian</option>
            <option value="Chinese">Chinese</option>
            <option value="Contemporary">Contemporary</option>
            <option value="Deli">Deli</option>
            <option value="Eastern European">Eastern European</option>
            <option value="Ethiopian">Ethiopian</option>
            <option value="European">European</option>
            <option value="Filipino">Filipino</option>
            <option value="French">French</option>
            <option value="Fusion">Fusion</option>
            <option value="Gastropub">Gastropub</option>
            <option value="German">German</option>
            <option value="Greek">Greek</option>
            <option value="Indian">Indian</option>
            <option value="Indonesian">Indonesian</option>
            <option value="International">International</option>
            <option value="Italian">Italian</option>
            <option value="Jamaican">Jamaican</option>
            <option value="Japanese">Japanese</option>
            <option value="Korean">Korean</option>
            <option value="Latin American">Latin American</option>
            <option value="Lebanese">Lebanese</option>
            <option value="Malaysian">Malaysian</option>
            <option value="Mediterranean">Mediterranean</option>
            <option value="Mexican">Mexican</option>
            <option value="Middle Eastern">Middle Eastern</option>
            <option value="Moroccan">Moroccan</option>
            <option value="North African">North African</option>
            <option value="Persian">Persian</option>
            <option value="Peruvian">Peruvian</option>
            <option value="Pizza">Pizza</option>
            <option value="Polish">Polish</option>
            <option value="Portuguese">Portuguese</option>
            <option value="Puerto Rican">Puerto Rican</option>
            <option value="Russian">Russian</option>
            <option value="Scandinavian">Scandinavian</option>
            <option value="Seafood">Seafood</option>
            <option value="South African">South African</option>
            <option value="Southern">Southern</option>
            <option value="Spanish">Spanish</option>
            <option value="Sri Lankan">Sri Lankan</option>
            <option value="Steakhouse">Steakhouse</option>
            <option value="Thai">Thai</option>
            <option value="Tibetan">Tibetan</option>
            <option value="Turkish">Turkish</option>
            <option value="Vegan">Vegan</option>
            <option value="Vegetarian">Vegetarian</option>
            <option value="Vietnamese">Vietnamese</option>
        </select>
         <!-- <p>Cuisine <input type = "str" name = "cuisine" /></p> -->
         <p>Stars (0-3) <input type = "int" name = "stars" /></p>
         <p>Maximum price <input type = "int" name = "max_price" /></p>

         <p><input type = "submit" value = "submit" /></p>

      </form>

   </body>
</html>
